@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
}
a {
  text-decoration: none;
}
.employee-table tr > th:nth-child(1) {
  text-align: left !important;
  padding: 10px 12px 10px 24px !important;
}
.employee-table tr > th {
  text-align: left !important;
}
.employee-table tr > td:nth-child(1) {
  text-align: left !important;
  padding: 0 8px 0 12px !important;
}
.employee-table tr > td {
  text-align: left !important;
}

.product-table tr > td:nth-child(1) {
  text-align: left !important;
  padding: 0 8px 0 12px !important;
}
.product-table tr > th {
  text-align: left !important;
  padding: 10px 8px 10px 12px !important;
}
